@font-face{font-family: "1";src: url("./../resources/fonts/regular.otf") format("opentype");}
@font-face{font-family: "2";src: url("./../resources/fonts/TitilliumWeb-Regular.ttf") format("truetype");}
@font-face{font-family: "3";src: url("./../resources/fonts/TitilliumWeb-Bold.ttf") format("truetype");}
@font-face{font-family: "4";src: url("./../resources/fonts/TitilliumWeb-Light.ttf") format("truetype");}


body
{
	background-color:#014289;
	font-size:12px;
	margin:0px;
}

iframe {
	max-width: 100%;
}

#ov_curtain
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1200;
	opacity:0.95;
	background-color:#014289;
	background-image:url(./../resources/general_images/loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

.ov_clear_floats
{
	clear:both;
	height:0px;
	max-height:0px;
	min-height:0px;
}

.ov_view_container_01
{
	width:100%;
	min-height:100px;
	position:absolute;
	top:90px;
	left:0px;
	display:none;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:none;
	background-size:cover;
	background-color:#014289;
}

.ov_zone_general
{
	margin:auto;
	width:100%;
	position:relative;
}

.ov_zone_limited
{
	margin:auto;
	width:100%;
	position:relative;
	max-width:100%;
}
.ov_zone_limited_2
{
	margin:auto;
	width:100%;
	position:relative;
	max-width:700px;
}
/*Ads */
.ads_iframe_container
{
	margin:0px;
	width:100%;
	height:90px;
	max-height:90px;
	min-height:60px;
	border:none;
	overflow:hidden;
	z-index:100;
	position:fixed;	
	background-color:#000;
}
.ads_iframe
{
	margin:0px;
	width:100%;
	height:90px;
	max-height:90px;
	min-height:60px;
	border:none;
	overflow:hidden;
	background-color:#000;
}
/*loading view */
#ov_zone_01{
	margin:auto;
	width:100%;
	max-width:500px;
	position:relative;
	padding-top:1%;
	z-index:1;
}	

#ov_zone_02{
	margin:auto;
	width:100%;
	position:absolute;
	bottom:0px;
	z-index:0
}

#ov_image_01{
	display:block;
	margin:auto;
	width:60%;
}

#ov_image_02{
	display:block;
	margin:auto;
	width:100%;
	max-width:500px;
}

#ov_image_03{
	display:block;
	margin:auto;
	padding:10px 0px;
	width:80px;
}
/*main menu */
#ov_purple_line{
	margin:auto;
	width:100%;	
	height:6px;
	min-height:6px;
	background-color:#014289;
}

.hollow_10px{
	height:10px;
	min-height:10px;
	max-height:10px;	
}

#ov_white_line{
	margin:auto;
	width:90%;	
	height:3px;
	min-height:3px;
	max-height:3px;
	background-color:#FFFFFF;
}

.ov_large_menu_item{
	margin:auto;
	width:90%;
	position:relative;
	border-bottom:1px solid #808080;
	padding:10px 0px;
	cursor:pointer;
}

.ov_box_circle_images{
	float:left;
	width:20%;
	max-width: 100px;	
	background: rgba(235,235,235,0.1);
}

.ov_box_large_menu_item_title{
	float:left;
	width:80%;	
}

.ov_image_circle{
	display:block;
	width:90%;
	max-width:80px;
	margin:auto;
}

.ov_text_large_menu_item_01{
	font-size:1.5em;
	font-family:"2";
	color:#333333;
	padding-top:1%;
	padding-left:20px;
	padding-bottom:0px;	
}

.ov_text_large_menu_item_02{
	font-size:1.1em;
	font-family:"4";
	color:#333333;
	padding-left:20px;
	padding-bottom:5px;
}

#ov_tracking_menu_item
{
	margin:auto;
	width:90%;
	position:relative;
	background-color:#FFF;
	cursor:pointer;
}
#ov_track_arrow_container
{
	float:left;
	width:10%;	
}
#ov_image_track_arrow
{
	display:block;
	width:100%;
	max-width:50px;
}
#ov_track_texts_container
{
	float:left;
	width:55%;	
	padding-bottom:9px;
}
#ov_track_text_1
{
	font-size:1.5em;
	font-family:"2";
	color:#014289;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:0px;
	text-decoration:underline;
	line-height:22px;
}
#ov_track_text_2
{
	font-size:1.1em;
	font-family:"4";
	color:#014289;
	padding-left:10px;
	line-height:12px;
	padding-top:5px;
}
#ov_track_image_container
{
	float:left;
	width:35%;
	position:relative;
}
#ov_track_image
{
	display:block;
	width:94%;
	max-width:118px;
	position:absolute;
	margin:auto;
	top:-15px;
	right:5px;
}
.ov_small_menu_item
{
	margin:auto;
	width:90%;
	position:relative;
	background-color:#014289;
	cursor:pointer
}
.ov_small_menu_item_title
{
	margin:auto;
	width:80%;
	text-align:left;
	font-size:1.5em;
	font-family:"2";
	color:#FFF;
	padding-top:10px;
	padding-bottom:10px;
}
.ov_small_menu_item_image
{
	display:inline;
	position:relative;
	top:3px;
}
/*presentation*/
.ov_back_button_container{
	margin:auto;
	width:100%;
	position:fixed;
	z-index:100;
	padding:10px 0px;
	height:30px;
	max-height:30px;
	min-height:30px;
	background-color:#FFF;
	border-top:1px solid #eee;
	border-bottom:2px solid #000;
	display:none;
	overflow:hidden;
	top: 90px;
	background: #fff;
}
.ov_back_button_container_limited
{
	margin:auto;
	width:310px;
}
.back_hollow_filler
{
	height:50px;
	max-height:50px;
	min-height:45px;
}
.ov_back_button_1{
	float:left;
	font-size:18px;
	font-family:"1";
	background-color:#FFF;
	color:#333;
	height:25px;
	padding-top:5px;
	overflow:hidden;
	text-align:center;
	cursor:pointer;
	width:130px;
	border-radius:5px;	
}
.ov_back_button_2{
	float:left;
	font-size:18px;
	font-family:"1";
	background-color:#FFF;
	color:#333;
	height:25px;
	padding-top:5px;
	overflow:hidden;
	text-align:center;
	cursor:pointer;
	width:130px;
	border-radius:5px;	
}
.ov_back_button_3{
	float: right;
	font-size: 18px;
	font-family: "1";
	background-color: #FFF;
	color: #333;
	height: 30px;
	padding-top: 0px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width: 60px;
	border-radius: 5px;
}

.ov_box_empty_side{
	float:left;
	width:30%;
	height:300px;
	background-image:url(./../resources/general_images/cristo2.png);
	background-repeat:no-repeat;
	background-position:top right;
	position:relative;
}
.ov_box_text_side{
	float:left;
	width:68%;	
	padding: 0 1% 20px 1%;
	background-color:#013165;
	position:relative;
	height:auto;	
}
.ov_box_content_side{
	display: block;
	width: 95%;
	padding: 0 1% 20px 1%;
	/*background-color: #013165;*/
	height: auto;
	margin: auto;	
}
.ov_text_info_title{
	text-align:center;
	font-size:1.3em;
	font-family:"2";
	color:#FFF;
	padding-top:10px;
	padding-bottom:10px;
}
.ov_text_info_text{
	text-align:justify;
	font-size:1.1em;
	font-family:"4";
	color:#FFF;
	padding-left:10px;
	padding-right:10px;
}
/*calendar */
#ov_calendar_container{
	background-color:#014289;
	margin:auto;
	max-width:700px;
}
.ov_white_line_2{
	width:90%;
	margin:auto;
	padding-top:10px;
	border-bottom:2px solid #FFF;
}
#ov_calendar_items_container{
	width:90%;
	margin:auto;
}
.ov_box_10{
	width:25%;
	float:left;
	cursor:pointer
}
.ov_box_10_b{
	width:25%;
	float:left;
	background-color:#000;
	opacity:0.5;
}
.ov_text_09{
	text-align:center;
	font-size:1.1em;
	font-family:"2";
	color:#FFF;
	padding:2px 0px
}
.ov_text_10{
	text-align:center;
	font-size:1.1em;
	font-family:"2";
	color:#FFF;
	padding:2px 0px
}
.ov_vertical_space_03{
	height:2px;
	min-height:2px;
	max-height:2px;
	overflow:hidden;
}
.ov_vertical_space_03_b{
	height:2px;
	min-height:2px;
	max-height:2px;
	overflow:hidden;
	background-color:#FFF
}
/* proce list*/
#proce_list_container{
	margin:auto;
	max-width:700px;
}
.ov_zone_13{
	display:none
}
.ov_box_13{
	width:90%;
	margin:auto;
	background-color:#999;
	cursor:pointer;
	border-radius:5px;
	
}
.ov_box_14{
	width:48%;
	float:left
}
.ov_box_15{
	width:52%;
	float:left
}
.ov_box_16{
	width:55%;
	padding:5px 10px;
	border-radius:10px;
	text-align:center;
	border:1px solid #FFF;
	color:#FFF;
	font-size:1.0em;
	font-family:"4";
	margin:10px 15px;
}
.ov_text_12{
	text-align:left;
	font-size:1.6em;
	font-family:"3";
	color:#FFF;
	padding:10px;
	line-height:20px;
	padding-bottom:0px
}
.ov_text_12_b{
	text-align:left;
	font-size:1.2em;
	font-family:"3";
	color:#FFF;
	padding:10px;
	line-height:20px;
	padding-bottom:0px
}
.ov_text_12_c{
	text-align:left;
	font-size:1em;
	font-family:"3";
	color:#FFF;
	padding:10px;
	line-height:20px;
	padding-bottom:0px
}

.ov_text_13{
	text-align:left;
	font-size:1.2em;
	font-family:"2";
	color:#FFF;
	padding:3px 10px;
	line-height:18px
}
.ov_text_14{
	text-align:left;
	font-size:1.0em;
	font-family:"4";
	color:#FFF;
	padding:0px 15px;
	line-height:15px
}
.ov_text_15{
	text-align:left;
	font-size:1.3em;
	font-family:"3";
	color:#FFF;padding:7px 15px;
	padding-bottom:0px;
	text-decoration:underline
}
/*proce view */
.ov_button_01{text-align:center;margin:auto;width:180px;max-width:180px;padding:5px 0px;color:#FFF;font-family:"1";font-size:1em;cursor:pointer;background-color:#014289;}

.ov_button_01:hover{text-align:center;margin:auto;width:180px;max-width:180px;padding:5px 0px;color:#FFF;font-family:"1";font-size:1em;cursor:pointer;background-color:#333;}

/*Hermandades*/
.contenedor_escudo
{
	padding:10px;
	background-color:#014289;
	color:#FFF;
}
.texto_hermandad 
{
	font-family:'4';
	font-size:1.2em;
	color:#333;
	padding:20px 10px;
	text-align:justify;
}
.titulos_hermandad
{
	font-family:'2';
	font-size:1.2em;
	color:#FFF;
	padding:10px;
	text-align:left;
	background-color:#999;
}
.subtitulo_hermandad, .subtitulo_pasos
{
	margin:auto;
	width:80%;
	font-family:'2';
	font-size:1.1em;
	color:#FFF;
	padding:10px;
	text-align:left;
	background-color:#014289;
}
.titulos_procesion
{
	font-family:'3';
	font-size:1.7em;
	color:#FFF;
	padding-bottom:10px;
	text-align:left;
}
.subtitulos_procesion 
{
	font-family:'4';
	font-size:1.2em;
	color:#FFF;
	padding-bottom:10px;
	text-align:left;
}
.informacion_procesion
{
	font-family:'4';
	font-size:1.2em;
	color:#333;
	padding:20px 10px;
	text-align:justify;
}
.informacion_hermandad
{
	font-family:'4';
	font-size:1.2em;
	color:#333;
	padding:20px 10px;
	text-align:justify;
}
.informacion_hermandad a {
	font-family: '4';
	font-size: 1.1em;
	color: #014289;
	margin: 5px 10px;
	text-decoration: underline;
	cursor: pointer;
	display: block;
}
.informacion_hermandad img, .tunica {
	margin: 12px auto;
	height: 280px;
}
.enlace_a_procesion, .enlace_a_hermandad
{
	font-family:'4';
	font-size:1.2em;
	color:#014289;
	padding:20px 10px;
	text-align:center;
	text-decoration:underline;
	cursor:pointer
}
.informacion_pasos
{
	margin:auto;
	width:80%;
	font-family:'4';
	font-size:1.1em;
	color:#333;
	padding:10px 10px;
	text-align:justify;
}
.imagenes_pasos
{
	display:block;
	margin:auto;
	width:80%;
	max-width:400px;
}
.iframe_route
{
	border:none;
	width:100%;
	height:450px;
	background-color:#014289;
	background-image:url(../resources/general_images/loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
	
}
.iframe_route_02
{
	background-color:#014289;
	border:none;
	width:100%;
	height:400px;
	background-image:url(../resources/general_images/loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
.punto_a_ruta 
{
	font-family:'4';
	font-size:1.2em;
	color:#014289;
	padding:5px 10px;
	text-align:center;
	text-decoration:underline;
	cursor:pointer;
}