<div id="ov_zone_01">
	
	<img src="./resources/general_images/logoinicio.png" id="ov_image_01" alt=" "/>	
	
	<img src="./resources/general_images/loader.gif" id="ov_image_03" alt=" "/>	
	
</div>

<div id="ov_zone_02">
	
	<img src="./resources/general_images/cristo1.png" id="ov_image_02" alt=" "/>
		
</div>

<script>	
	setTimeout(function(){
		
		load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
					
	},1800);
</script>