<!-- Volver -->
<div  class="ov_back_button_container">

	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_1" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>

		<div id="ov_back_button_2" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>

</div>
<div class="back_hollow_filler"></div>
<script>
	$("#ov_back_button_1").click(function(e) {

		load_view({
			view_to_load : 'ov_view_container_02',
			url_to_load : './views/general/ov_view_main_menu.html',
			view_background_color : '#EBEBEB',
			view_background_image : 'none',
			view_to_hide : 'ov_view_container_01'
		});

	});
	$("#ov_back_button_2").click(function(e) {

		load_view({
			view_to_load : 'ov_view_container_02',
			url_to_load : './views/general/ov_view_main_menu.html',
			view_background_color : '#EBEBEB',
			view_background_image : 'none',
			view_to_hide : 'ov_view_container_01'
		});

	}); 
</script>
<!-- Volver -->
<div class="ov_zone_general">

	<div class="ov_zone_limited">
		<div id="ov_large_menu_item_14b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/jesus_triunfante.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD DE JESÚS TRIUNFANTE
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_14b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_jesus_triunfante.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_15b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/sacramental_jesus_samaria_virgen_paz.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD SACRAMENTAL DE JESÚS EN SAMARIA Y SANTA ORACIÓN EN EL HUERTO Y SANTISIMA VIRGEN DE LA PAZ
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_15b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_sacramental_jesus_samaria_virgen_paz.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_16b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/santisimo_cristo_penas_santa_mujer_veronica.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD SACRAMENTAL SANTÍSIMO CRISTO DE LAS PENAS Y SANTA MUJER VERÓNICA
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_16b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_sacramental_santisimo_cristo_penas_santa_mujer_veronica.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_21b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/jesus_atado_columna_santa_flagelacion.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					PENITENCIAL HERMANDAD DE JESÚS ATADO A LA COLUMNA EN SU SANTA FLAGELACIÓN
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_21b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/penitencial_hermandad_jesus_atado_columna_santa_flagelacion.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_22b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/san_pedro_apostol.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					COFRADIA SAN PEDRO APÓSTOL
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_22b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/cofradia_san_pedro_apostol.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_23b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/santisimo_cristo_hallazgo_virgen_dolorosa.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					COFRADÍA DEL SANTÍSIMO CRISTO DEL HALLAZGO Y LA VIRGEN DOLOROSA
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_23b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/cofradia_santisimo_cristo_hallazgo_virgen_dolorosa.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>
		<div id="ov_large_menu_item_17b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/prendimiento_nuestra_senora_consuelo.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD DEL PRENDIMIENTO Y NUESTRA SEÑORA DEL CONSUELO
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_17b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_prendimiento_nuestra_senora_consuelo.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_24b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/cristo_morenet_patron_hombres_mar.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					COFRADÍA DEL CRISTO “EL MORENET” DE LOS HOMBRES DEL MAR
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_24b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/cofradia_cristo_morenet_patron_hombres_mar.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_18b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/santisimo_cristo_humildad_paciencia_nuestra_senora_lagrimas.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD PENITENCIAL DEL SANTÍSIMO CRISTO DE LA HUMILDAD Y PACIENCIA Y NUESTRA SEÑORA DE LAS LÁGRIMAS
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_18b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_penitencial_santisimo_cristo_humildad_paciencia_nuestra_senora_lagrimas.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_19b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/nuestro_padre_jesus_despojado_vestiduras.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD AGUSTINA DE NUESTRO PADRE JESÚS DESPOJADO DE SUS VESTIDURAS
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_19b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_agustina_nuestro_padre_jesus_despojado_vestiduras.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_20b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/eccehomo_nuestra_senora_amargura.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					MUY ILUSTRE, PENITENCIAL Y FRANCISCANA COFRADÍA DEL SANTÍSIMO ECCE HOMO Y NUESTRA SEÑORA DE LA AMARGURA
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_20b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/ilustre_penitencial_franciscana_cofradia_eccehomo_nuestra_senora_amargura.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_1b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/santisimo_cristo_mar_nuestra_senora_dolores_san_juan_palma.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD SACRAMENTAL DEL SANTÍSIMO CRISTO DEL MAR, NUESTRA SEÑORA DE LOS DOLORES Y SAN JUAN DE LA PALMA
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_1b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_sacramental_santisimo_cristo_mar_nuestra_senora_dolores_san_juan_palma.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_3b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/stabat_mater.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD PENITENCIAL STABAT MATER
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_3b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_penitencial_stabat_mater.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_4b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/nuestro_padre_jesus.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD DE NUESTRO PADRE JESÚS
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_4b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_nuestro_padre_jesus.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_5b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/santa_cruz.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD DE LA SANTA CRUZ
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_5b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_santa_cruz.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_6b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/cristo_divino_amor_virgen_soledad_marinera.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					COFRADÍA SACRAMENTAL CRISTO DEL DIVINO AMOR Y VIRGEN DE LA SOLEDAD “LA MARINERA”
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_6b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/cofradia_sacramental_cristo_divino_amor_virgen_soledad_marinera.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_7b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/nuestro_padre_jesus_gran_poder_nuestra_senora_esperanza_coronada.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					MUY ILUSTRE, SANTA Y SACRAMENTAL HERMANDAD DE LA MISERICORDIA, NUESTRO PADRE JESÚS DEL GRAN PODER Y NUESTRA SEÑORA DE LA ESPERANZA CORONADA
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_7b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/ilustre_santa_sacramental_hermandad_misericordia_nuestro_padre_jesus_gran_poder_nuestra_senora_esperanza_coronada.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_8b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/santa_cena.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					PONTIFICIA, REAL, ILUSTRE, VENERABLE Y SALESIANA HERMANDAD SACRAMENTAL DE LA SANTA CENA
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_8b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/pontificia_real_ilustre_venerable_salesiana_hermandad_sacramental_santa_cena.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_9b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/nazarenos_santa_redencion.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					MUY PIADOSA HERMANDAD Y COFRADÍA DE NAZARENOS DE LA SANTA REDENCIÓN
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_9b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/piadosa_hermandad_cofradia_nazarenos_santa_redencion.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_10b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/nuestra_senora_piedad_caridad_cristo_paz.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					COFRADÍA DE NUESTRA SEÑORA DE LA PIEDAD Y DE LA CARIDAD Y CRISTO DE LA PAZ
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_10b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/cofradia_nuestra_senora_piedad_caridad_cristo_paz.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_11b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/perdon.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD PENITENCIAL DEL PERDÓN
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_11b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_penitencial_perdon.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_12b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/santisimo_cristo_buena_muerte_nuestra_senora_angustias.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD DEL SANTÍSIMO CRISTO DE LA BUENA MUERTE Y NUESTRA SEÑORA DE LAS ANGUSTIAS
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_12b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_santisimo_cristo_buena_muerte_nuestra_senora_angustias.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_13b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/sentencia_jesus.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					COFRADÍA DE LA SENTENCIA DE JESÚS
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_13b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/cofradia_sentencia_jesus.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>
		<div id="ov_large_menu_item_2b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/mater_desolata.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD PENITENCIAL MATER DE SOLATA
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_2b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_penitencial_mater_desolata.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_25b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/nuestra_senora_soledad_santa_maria.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					REAL COFRADÍA DE NUESTRA SEÑORA DE LA SOLEDAD DE SANTA MARÍA
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_25b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/real_cofradia_nuestra_senora_soledad_santa_maria.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>
		
		<div id="ov_large_menu_item_26b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/santo_sepulcro.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					HERMANDAD DEL SANTO SEPULCRO
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_26b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_santo_sepulcro.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>
		
		<div id="ov_large_menu_item_27b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/cristo_resucitado.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					GLORIOSA HERMANDAD EL CRISTO RESUCITADO
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_27b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/gloriosa_hermandad_cristo_resucitado.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

	</div>
</div>

