<div class="ov_zone_general">
	
	<div class="ov_zone_limited">
		
		<!--decorative -->
		<!--<div id="ov_purple_line"> </div>-->
		
		<div class="hollow_10px"> </div>
		
		<div id="ov_white_line"> </div>	
		
		<div class="hollow_10px"> </div>
		<!--decorative -->
		
		<!--to presentation -->
		<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
			<div class="ov_box_circle_images">
				
				<img src="./resources/general_images/circulo1.png" class="ov_image_circle" alt=" "/>
				
			</div>
			
			<div class="ov_box_large_menu_item_title">
							
				<div class="ov_text_large_menu_item_01">La Semana Santa de Alicante</div>
				
				<div class="ov_text_large_menu_item_02">Presentación</div>
				
			</div>
			
			<div class="ov_clear_floats"> </div>
			
		</div>
		<script>
			$("#ov_large_menu_item_1").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_01', url_to_load: './views/general/ov_view_presentation.html', view_background_color: '#014289', view_background_image: 'none', view_to_hide: 'ov_view_container_02' });	
							
			});
		</script>
		<!--to presentation -->
		
		<div class="hollow_10px"> </div>	
		
		<!--to proce -->
		<div id="ov_large_menu_item_2" class="ov_large_menu_item">
			
			<div class="ov_box_circle_images">
				
				<img src="./resources/general_images/circulo2.png" class="ov_image_circle" alt=" "/>
				
			</div>
			
			<div class="ov_box_large_menu_item_title">
				
				<div class="ov_text_large_menu_item_01">Procesiones</div>
				
				<div class="ov_text_large_menu_item_02">Horarios, rutas, información...</div>
				
			</div>
			
			<div class="ov_clear_floats"> </div>
			
		</div>
		<script>
			$("#ov_large_menu_item_2").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_01', url_to_load: './views/general/ov_view_proce.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_02' });	
									
			});
		</script>
		<!--to proce -->
		
		<div class="hollow_10px"> </div>	
		
		<!--to herman -->
		<div id="ov_large_menu_item_3" class="ov_large_menu_item">
			
			<div class="ov_box_circle_images">
				
				<img src="./resources/general_images/circulo3.png" class="ov_image_circle" alt=" "/>
				
			</div>
			
			<div class="ov_box_large_menu_item_title">
				
				<div class="ov_text_large_menu_item_01">Hermandades &amp; Cofradías</div>
				
				<div class="ov_text_large_menu_item_02">Información, historia y curiosidades...</div>
				
			</div>
			
			<div class="ov_clear_floats"> </div>
			
		</div>
		<script>
			$("#ov_large_menu_item_3").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_01', url_to_load: './views/general/ov_view_herman.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_02' });	
				
			});
		</script>
		<!--to herman -->
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		
		<!--to tracking -->
		
		<div id="ov_tracking_menu_item">
		
			<div id="ov_track_arrow_container">
				<img src="./resources/general_images/flecha01.png" id="ov_image_track_arrow" alt=" "/>
			</div>
			
			<div id="ov_track_texts_container">
				<div id="ov_track_text_1"><br>SEGUIMIENTO EN TIEMPO REAL</div>
				<div id="ov_track_text_2">Sigue el recorrido de las procesiones en vivo<br></div>
			</div>
			
			<div id="ov_track_image_container">
				<img src="./resources/general_images/movil.png" id="ov_track_image" alt=" "/>
			</div>
			
			<div class="ov_clear_floats"> </div>
			
		</div>
		<script>
			$("#ov_tracking_menu_item").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_01', url_to_load: './views/remote/ov_view_tracking.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_02' });	
				
			});
		</script>
		<!--to tracking -->
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		
		<!--to news -->
		<div id="ov_small_menu_item_1" class="ov_small_menu_item">
			
			<div class="ov_small_menu_item_title">
				NOTICIAS&nbsp;&nbsp;
				<img src="./resources/general_images/flechas2.png" class="ov_small_menu_item_image" alt=" "/>
			</div>
			
		</div>
		<script>
			$("#ov_small_menu_item_1").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_01', url_to_load: './views/remote/ov_view_news.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_02' });	
									
			});
		</script>
		<!--to news -->
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		
		<!--to news -->
		<div id="ov_small_menu_item_1_2" class="ov_small_menu_item">
			
			<div class="ov_small_menu_item_title">
				RADIO EN VIVO&nbsp;&nbsp;
				<img src="./resources/general_images/flechas2.png" class="ov_small_menu_item_image" alt=" "/>
			</div>
			
		</div>
		<script>
			$("#ov_small_menu_item_1_2").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_01', url_to_load: './views/remote/ov_view_radio.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_02' });	
									
			});
		</script>
		<!--to news -->
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		
		<!--to diary -->
		<div id="ov_small_menu_item_2" class="ov_small_menu_item">
			
			<div class="ov_small_menu_item_title">
				AGENDA COFRADE&nbsp;&nbsp;
				<img src="./resources/general_images/flechas2.png" class="ov_small_menu_item_image" alt=" "/>
			</div>
			
		</div>
		<script>
			$("#ov_small_menu_item_2").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_01', url_to_load: './views/remote/ov_view_diary.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_02' });	
								
			});
		</script>
		<!--to diary -->
		
		<!--
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		
		<!--to instagram 
		<div id="ov_small_menu_item_3" class="ov_small_menu_item">
			
			<div class="ov_small_menu_item_title">
				FOTOGRAFIAS INSTAGRAM &nbsp;&nbsp;
				<img src="./resources/general_images/flechas2.png" class="ov_small_menu_item_image" alt=" "/>
			</div>
			
		</div>
		<script>
			$("#ov_small_menu_item_3").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_01', url_to_load: './views/general/ov_view_instagram.html', view_background_color: '#014289', view_background_image: 'none', view_to_hide: 'ov_view_container_02' });	
									
			});
		</script>
		<!--to instagram -->
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		
		<!--to weather -->
		<div id="ov_small_menu_item_4" class="ov_small_menu_item">
			
			<div class="ov_small_menu_item_title">
				EL TIEMPO EN ALICANTE&nbsp;&nbsp;
				<img src="./resources/general_images/flechas2.png" class="ov_small_menu_item_image" alt=" "/>
			</div>
			
		</div>
		<script>
			$("#ov_small_menu_item_4").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_01', url_to_load: './views/general/ov_view_weather.html', view_background_color: '#014289', view_background_image: 'none', view_to_hide: 'ov_view_container_02' });	
									
			});
		</script>
		<!--to weather -->
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		
		<!--to about -->
		<div id="ov_small_menu_item_5" class="ov_small_menu_item">
			
			<div class="ov_small_menu_item_title">
				ACERCA DE&nbsp;&nbsp;
				<img src="./resources/general_images/flechas2.png" class="ov_small_menu_item_image" alt=" "/>
			</div>
			
		</div>
		<script>
			$("#ov_small_menu_item_5").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_01', url_to_load: './views/general/ov_view_about.html', view_background_color: '#014289', view_background_image: 'none', view_to_hide: 'ov_view_container_02' });	
									
			});
		</script>
		<!--to about -->
		
		<div class="hollow_10px"> </div>		
		<div class="hollow_10px"> </div>
		
		<img src="./resources/general_images/logo.png" style="display:block;margin:auto" alt=" "/>
		
		<div class="hollow_10px"> </div>		
		<div class="hollow_10px"> </div>	
		
	</div>
	
</div>


	

