<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_1" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_2" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_1").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_2").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<style>
#cont_512e48f9ea4b2ba7713a8c649d28160a
{	
	width:100% !important;
	max-width: 500px;
	min-width: 250px;
	display:block;
	margin:auto;
	text-align:center;
	border: none !important;
	padding: 40px 0 25px 0;
}
#cont_512e48f9ea4b2ba7713a8c649d28160a span:first-child
{
	display:none !important;
}
#cont_512e48f9ea4b2ba7713a8c649d28160a iframe{
	display:block;
	margin:auto;
}
</style>
<!-- Volver -->

<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="ov_text_info_title">
			- EL TIEMPO EN ALICANTE -
		</div>
		
		<div id="cont_512e48f9ea4b2ba7713a8c649d28160a">
			<span id="h_512e48f9ea4b2ba7713a8c649d28160a">El Tiempo en Alicante</span>
			<script type="text/javascript" async src="http://www.tiempo.com/wid_loader/512e48f9ea4b2ba7713a8c649d28160a"></script>
		</div>
				
		<div class="ov_clear_floats"> </div>
		
	</div>
		
</div>




