<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_1" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_2" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_1").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_2").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->

<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="ov_box_empty_side">	</div>
		
		<div class="ov_box_text_side">
			<div class="ov_text_info_title">
				- Acerca de esta App -
			</div>
			<div  class="ov_text_info_text">
				<p>
				Esta aplicación para dispositivos móviles ha sido desarrollada por Ovnyline Comunicación para CADENA SER ALICANTE con el objetivo de difundir y permitir el acceso rápido a toda la información relacionada con la celebración de la SEMANA SANTA, en este año 2016.
				</p>
				<p>
				Queremos agradecer a todos los patrocinadores su colaboración en este proyecto.
				</p>
				<p>
				Esperamos que os sea útil para disfrutar de la SEMANA SANTA DE ALICANTE y estar siempre informados. Desde Ovnyline Comunicación os pedimos que nos enviéis vuestros comentarios, críticas y propuestas para mejorar esta App para los próximos años y convertirla en lo que vosotros esperáis.
				Podéis contactar con nosotros en info@ovnyline.com
				</p>
				<p>
				<i>
				Aplicación Compatible con Android 2.3 o superior, iPhone, iPad, y otros dispositivos móviles via webApp
				</i>
				</p>
				<p>
				<b>
				Grupo Ovnyline Comunicacion S.L.
				</b>
				<br>
				<i>
				Desarrollo, diseño y comunicación on-line integral.   	
				</i>
				</p>				
			</div>
		</div>
				
		<div class="ov_clear_floats"> </div>
		
	</div>
		
</div>




