<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				Viernes Santo (Real Cofradía de Nuestra Señora de la Soledad de Santa María)
			</div>
			<div class="subtitulos_procesion">
				25 de Marzo - Viernes Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>20:00h</b> desde la Basílica de Santa María.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			Grandiosa salida del paso de palio por la estrecha puerta principal de la basílica de Santa María, y la espectacular subida por Villavieja en su regreso a la basílica de Santa María.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Real Cofradía de Nuestra Señora de la Soledad de Santa María
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/real_cofradia_nuestra_senora_soledad_santa_maria.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			Hermanos de fila: Vesta marfil. Capirote y fajín de terciopelo azul marino. Guantes y calcetines blancos. Zapatos negros. Los hermanos portan la medalla con el emblema de la cofradia.
			<img src="./resources/habitos/nuestra_senora_soledad_santa_maria.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_hermandad">
			Nuestra Señora de la Soledad de Santa María
		</div>
		
		<div class="informacion_pasos">
			Hay que destacar el ajuar de la Virgen, formado por diversas prendas del siglo XVIII, así como una colección de joyas de dicho siglo y del XIX. La imagen estrenó en el año 2000 nuevo manto con el Escudo de la Hermandad y diversos adornos florales, y nueva diadema para la Virgen. Así mismo estrenó el Libro de Reglas, realizado por Orfebrería Sevillana en plata y terciopelo negro.			
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada en la Basílica de Santa María.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_c_soledad_maria" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_c_soledad_maria").gmap3({
					map:{
						options:{
						center:[38.346463, -0.482480],
						zoom:17
						}
					},
					marker:{
						values:[
						{latLng:[38.346100, -0.479436], data:"Basílica Santa María"}]
					},
					polyline:{
					options:{
						strokeColor: "#6F65D5",
						strokeOpacity: 0.6,
						strokeWeight: 4,
						icons: [{icon: lineSymbol, offset: '3%'},
								{icon: lineSymbol, offset: '10%'},
								{icon: lineSymbol, offset: '20%'},
								{icon: lineSymbol, offset: '30%'},
								{icon: lineSymbol, offset: '40%'},
								{icon: lineSymbol, offset: '50%'},
								{icon: lineSymbol, offset: '60%'},
								{icon: lineSymbol, offset: '70%'},
								{icon: lineSymbol, offset: '80%'},
								{icon: lineSymbol, offset: '90%'},
								{icon: lineSymbol, offset: '98%'},
								],
						path:[
							[38.346100, -0.479436], // salida
							[38.346075, -0.479515],
							[38.346240, -0.479615], // villavieja
							[38.346182, -0.479787],
							[38.346113, -0.479972],
							[38.346038, -0.480161],
							[38.345783, -0.480631],
							[38.345663, -0.480843],
							[38.345515, -0.481136],
							[38.345361, -0.481451], // santisima faz
							[38.345281, -0.481630], // mayor
							[38.345203, -0.481829],
							[38.345159, -0.481903],
							[38.345263, -0.481977], // san nicolas
							[38.345357, -0.482044],
							[38.345425, -0.482095],
							[38.345368, -0.482285], // miguel soler
							[38.345299, -0.482538],
							[38.345235, -0.482760],
							[38.345316, -0.482816], // abad penalva
							[38.345394, -0.482869],
							[38.345522, -0.482938], // labradores
							[38.345627, -0.482994],
							[38.345770, -0.483078],
							[38.345853, -0.483128],
							[38.346076, -0.483269], 
							[38.346277, -0.483392],
							[38.346649, -0.483607],
							[38.346759, -0.483718], // san cristobal
							[38.346869, -0.483808],
							[38.347139, -0.483973],
							[38.347287, -0.484157], // genera primo rivera
							[38.347448, -0.484332],
							[38.347618, -0.484525],
							[38.347694, -0.484630],
							[38.347759, -0.484759],
							[38.348094, -0.484866], // rambla
							[38.347852, -0.485544], // alfonso x-fast
							[38.347593, -0.485343], // torregrosa
							[38.347259, -0.485059],
							[38.347097, -0.484922],
							[38.346804, -0.484721],
							[38.346773, -0.484643],
							[38.346798, -0.484552],
							[38.346859, -0.484506], // rambla
							[38.346419, -0.484380],
							[38.345973, -0.484139],
							[38.345450, -0.483860],
							[38.345159, -0.483704],
							[38.344720, -0.483434],
							[38.344579, -0.483342], // mayor
							[38.344750, -0.482887],
							[38.344898, -0.482525],
							[38.345150, -0.481941],
							[38.345365, -0.481444], // santisima faz
							[38.345551, -0.481051], // villavieja
							[38.345667, -0.480835],
							[38.345882, -0.480440],
							[38.346024, -0.480196],
							[38.346127, -0.479972],
							[38.346243, -0.479619],
							[38.346088, -0.479521],
							[38.346102, -0.479450] // basilica
						]
						}
					}
				});
			
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Basílica de Santa María
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Villavieja, Alicante");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Villavieja
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Villavieja, Alicante");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Plaza Santísima Faz
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Plaza Santísima Faz, Alicante");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle Mayor
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Mayor, Alicante");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle San Nicolás
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle San Nicolás Alicante");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Miguel Soler
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Miguel Soler, Alicante");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Plaza del Abad Penalva
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Plaza del Abad Penalva, Alicante");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Labradores
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Labradores, Alicante");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Plaza San Cristobal
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Plaza San Cristobal, Alicante");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Calle Mestre Martinez
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Mestre Martinez, Alicante");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle General Primo de Rivera
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle General Primo de Rivera, Alicante");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Rambla de Méndez Núñez
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Rambla de Méndez Núñez, Alicante");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Avenida de Alfonso X El Sabio
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Avenida de Alfonso El Sabio, Alicante");
			});
		</script>
		
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Tomás López Torregrosa
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Tomás López Torregrosa, Alicante");
			});
		</script>
		
		<div id="ov_place_17" class="punto_a_ruta">
			Carrera Oficial
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Rambla de Méndez Núñez, Alicante");
			});
		</script>
		
		<div id="ov_place_18" class="punto_a_ruta">
			Calle Mayor
		</div>
		<script>
			$("#ov_place_18").click(function(e){
				show_geoloc("Calle Mayor, Alicante");
			});
		</script>
		
		<div id="ov_place_19" class="punto_a_ruta">
			Plaza Santísima Faz
		</div>
		<script>
			$("#ov_place_19").click(function(e){
				show_geoloc("Plaza Santísima Faz, Alicante");
			});
		</script>
		
		<div id="ov_place_20" class="punto_a_ruta">
			Calle Villavieja
		</div>
		<script>
			$("#ov_place_20").click(function(e){
				show_geoloc("Calle Villavieja, Alicante");
			});
		</script>
		
		<div id="ov_place_21" class="punto_a_ruta">
			Basílica de Santa María
		</div>
		<script>
			$("#ov_place_21").click(function(e){
				show_geoloc("Calle Villavieja, Alicante");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
