<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				Domingo de Ramos (Penitencial Hermandad de Jesús Atado a la Columna en su Santa Flagelación)
			</div>
			<div class="subtitulos_procesion">
				20 de Marzo - Domingo de Ramos
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>18:00h</b> desde la Parroquia de San Blas.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			Salida de su sede y encuentro de los tres pasos frente a la parroquia de San Blas. Llegada de los pasos a la concatedral y Estación de Penitencia.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Penitencial Hermandad de Jesús Atado a la Columna en su Santa Flagelación
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/penitencial_hermandad_jesus_atado_columna_santa_flagelacion.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			Hermanos de fila: Vesta y Capirote verde. Capa y Cíngulo marfil. Zapatillas verdes.<br>
			Costaleros: Vesta y zapatillas verdes.
			<img src="./resources/habitos/jesus_atado_columna_santa_flagelacion.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Jesús Atado a la Columna
		</div>
		
		<div class="subtitulo_hermandad">
			Encuentro de María con su Hijo
		</div>
		
		<div class="informacion_pasos">
			Autor: Martín Nieto
			<br><br>
			En este paso la hermandad estrena Nazareno, el Cristo de la Salud.		
		</div>
		
		<div class="subtitulo_hermandad">
			Nuestra Señora de la Corona de Espinas
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida en la Parroquia de San Blas y llegada en la Rambla de Méndez Núñez.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_jesus_atado" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_jesus_atado").gmap3({
					map:{
						options:{
						center:[38.348023, -0.488594],
						zoom:16
						}
					},
					marker:{
						values:[
						{latLng:[38.350573, -0.495480], data:"Parroquia de San Blás"}]
					},
					polyline:{
					options:{
						strokeColor: "#6F65D5",
						strokeOpacity: 0.6,
						strokeWeight: 4,
						icons: [{icon: lineSymbol, offset: '3%'},
								{icon: lineSymbol, offset: '10%'},
								{icon: lineSymbol, offset: '20%'},
								{icon: lineSymbol, offset: '30%'},
								{icon: lineSymbol, offset: '40%'},
								{icon: lineSymbol, offset: '50%'},
								{icon: lineSymbol, offset: '60%'},
								{icon: lineSymbol, offset: '70%'},
								{icon: lineSymbol, offset: '80%'},
								{icon: lineSymbol, offset: '90%'},
								{icon: lineSymbol, offset: '98%'},
								],
						path:[
							[38.350573, -0.495480], // salida
							[38.350245, -0.496125], // condes de soto ameno
							[38.349030, -0.495220],
							[38.348538, -0.494593],
							[38.348395, -0.494016],
							[38.348175, -0.493879], // plaza general mancha
							[38.348193, -0.493553],
							[38.346878, -0.492643], // tucumán
							[38.346521, -0.492377],
							[38.346765, -0.491770], // san juan bosco
							[38.346935, -0.491512], // general marva
							[38.347702, -0.489373], // poeta quintana
							[38.348047, -0.488520], // pablo iglesias
							[38.347028, -0.487851], // alfonos x el sabio
							[38.345529, -0.487062], // calle navas
							[38.345868, -0.486000], // calle del teatro
							[38.346215, -0.484957], // calle duque de zaragoza
							[38.346383, -0.484338], // rambla
							[38.344569, -0.483363], // mayor
							[38.344902, -0.482531],
							[38.345233, -0.482754], // muñoz
							[38.345396, -0.482821], // plaza abad
							[38.345462, -0.482493], // catedral
							[38.345394, -0.482834], // plaza abad
							[38.345240, -0.482764],
							[38.345088, -0.483215], // miguel soler
							[38.344973, -0.483590] // rambla
						]
						}
					}
				});
			
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Parroquia de San Blas
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Poeta Garcilaso, Alicante");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Poeta Garcilaso
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Poeta Garcilaso, Alicante");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Avenida Condes de Soto Ameno
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Avenida Condes de Soto Ameno, Alicante");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Plaza General Mancha
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Plaza General Mancha, Alicante");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle Tucumán
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Tucumán, Alicante");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Avenida Benito Perez Galdos
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Avenida Benito Perez Galdos, Alicante");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Tucumán
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Tucumán, Alicante");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle San Juan Bosco
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle San Juan Bosco, Alicante");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Avenida General Marvá
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Avenida General Marvá, Alicante");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Calle Poeta Quintana
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Poeta Quintana, Alicante");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Pablo Iglesias
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Pablo Iglesias, Alicante");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Avenida Alfonso X El Sabio
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Avenida Alfonso El Sabio, Alicante");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Navas
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Navas, Alicante");
			});
		</script>
		
		<div id="ov_place_16" class="punto_a_ruta">
			Calle del Teatro
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle del Teatro, Alicante");
			});
		</script>
		
		<div id="ov_place_17" class="punto_a_ruta">
			Calle Duque de Zaragoza
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Calle Duque de Zaragoza, Alicante");
			});
		</script>
		
		<div id="ov_place_18" class="punto_a_ruta">
			Rambla de Méndez Núñez
		</div>
		<script>
			$("#ov_place_18").click(function(e){
				show_geoloc("Rambla de Méndez Núñez, Alicante");
			});
		</script>
		
		<div id="ov_place_19" class="punto_a_ruta">
			Calle Mayor
		</div>
		<script>
			$("#ov_place_19").click(function(e){
				show_geoloc("Calle Mayor, Alicante");
			});
		</script>
		
		<div id="ov_place_20" class="punto_a_ruta">
			Calle Muñoz
		</div>
		<script>
			$("#ov_place_20").click(function(e){
				show_geoloc("Calle Muñoz, Alicante");
			});
		</script>
		
		<div id="ov_place_21" class="punto_a_ruta">
			Plaza del Abad Penalva
		</div>
		<script>
			$("#ov_place_21").click(function(e){
				show_geoloc("Plaza del Abad Penalva, Alicante");
			});
		</script>
		
		<div id="ov_place_22" class="punto_a_ruta">
			S. I. Concatedral de San Nicolás de Bari
		</div>
		<script>
			$("#ov_place_22").click(function(e){
				show_geoloc("S. I. Concatedral de San Nicolás de Bari, Alicante");
			});
		</script>
		
		<div id="ov_place_23" class="punto_a_ruta">
			Plaza del Abad Penalva
		</div>
		<script>
			$("#ov_place_23").click(function(e){
				show_geoloc("Plaza del Abad Penalva, Alicante");
			});
		</script>
		
		<div id="ov_place_24" class="punto_a_ruta">
			Calle Miguel Soler
		</div>
		<script>
			$("#ov_place_24").click(function(e){
				show_geoloc("Calle Miguel Soler, Alicante");
			});
		</script>
		
		<div id="ov_place_25" class="punto_a_ruta">
			Rambla de Méndez Núñez
		</div>
		<script>
			$("#ov_place_25").click(function(e){
				show_geoloc("Rambla de Méndez Núñez, Alicante");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
