<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				Lunes Santo (Hermandad del Prendimiento y Nuestra Señora del Consuelo)
			</div>
			<div class="subtitulos_procesion">
				21 de Marzo - Lunes Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>17:45h</b> desde los Jardines del Marq (Plaza Doctor Gómez Ulla).
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			Inicia su recorrido desde el emblemático edificio que se ha convertido en el Museo Arqueológico Provincial, debido a que la hermandad fue fundada por un grupo de antiguos funcionarios del Hospital Provincial.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Hermandad del Prendimiento y Nuestra Señora del Consuelo
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_prendimiento_nuestra_senora_consuelo.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			Hermanos de fila: Vesta, capirote y guantes blancos. Capa verde, con el escudo de la hermandad en el lado izquierdo. Cíngulo blanco y verde. Zapatos y calcetines negros. <br>
			Costaleros: Vesta blanca, con el escudo de la hermandad en el pecho en el lado izquierdo. Zapatillas, guantes y calcetines blancos, cíngulo blanco y verde.
			<img src="./resources/habitos/prendimiento_nuestra_senora_consuelo.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_hermandad">
			El lavatorio
		</div>
		
		<div class="informacion_pasos">
			Autor: El escultor murciano D. Antonio García Mengual.
			<br>
			Fecha: 2000
			<br><br>
			Cristo de rodillas, lava los pies de Pedro, ante la mirada expectante de Santiago.		
		</div>
		
		<div class="subtitulo_hermandad">
			Prendimiento
		</div>
		
		<div class="subtitulo_hermandad">
			Nuestra Señora del Consuelo
		</div>
	
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida en los Jardines del Marq y llegada en la Plaza del Ayuntamiento.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_prendimiento" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_prendimiento").gmap3({
					map:{
						options:{
						center:[38.349119, -0.480486],
						zoom:16
						}
					},
					marker:{
						values:[
						{latLng:[38.353197, -0.477149], data:"Plaza Doctor Gómez Ulla"}]
					},
					polyline:{
					options:{
						strokeColor: "#6F65D5",
						strokeOpacity: 0.6,
						strokeWeight: 4,
						icons: [{icon: lineSymbol, offset: '3%'},
								{icon: lineSymbol, offset: '10%'},
								{icon: lineSymbol, offset: '20%'},
								{icon: lineSymbol, offset: '30%'},
								{icon: lineSymbol, offset: '40%'},
								{icon: lineSymbol, offset: '50%'},
								{icon: lineSymbol, offset: '60%'},
								{icon: lineSymbol, offset: '70%'},
								{icon: lineSymbol, offset: '80%'},
								{icon: lineSymbol, offset: '90%'},
								{icon: lineSymbol, offset: '98%'},
								],
						path:[
							[38.353197, -0.477149], // salida
							[38.353489, -0.477512],
							[38.353525, -0.481707], // calle san carlos
							[38.353302, -0.481902], // adolfo blanch
							[38.352952, -0.483088], 
							[38.352381, -0.483450], // calle sevilla
							[38.352118, -0.483702], // plaza hospital viejo
							[38.351678, -0.483817], // plaza santa teresa
							[38.351758, -0.485029], // plaza de españa
							[38.351643, -0.485291], 
							[38.351218, -0.485246], 
							[38.351078, -0.485367], 
							[38.349622, -0.485712], // calderón de la barca
							[38.348606, -0.485986],
							[38.347926, -0.485622],
							[38.347125, -0.484927], // torregrosa
							[38.346809, -0.484763],
							[38.346694, -0.484426],
							[38.344258, -0.483187], // rambla
							[38.344526, -0.482262], // rafael altamira
							[38.345014, -0.481405],
							[38.344809, -0.481071]	
						]
						}
					}
				});
			
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Plaza Doctor Gómez Ulla
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Plaza Doctor Gómez Ulla, Alicante");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle San Carlos
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle San Carlos, Alicante");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Adolfo Blanch
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Adolfo Blanch, Alicante");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle Sevilla
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Sevilla, Alicante");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Plaza Hospital Viejo de San Antón
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Plaza Hospital Viejo de San Antón, Alicante");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Plaza Santa Teresa
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Plaza Santa Teresa, Alicante");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Plaza de España
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Plaza de España, Alicante");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Calderón de la Barca
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Calderón de la Barca, Alicante");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Calle Tomás López Torregrosa
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Tomás López Torregrosa, Alicante");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Carrera Oficial de la Ciudad (Rambla)
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Rambla Méndez Núñez, Alicante");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Rafael Altamira
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Rafael Altamira, Alicante");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Plaza del Ayuntamiento
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Plaça de Ajuntament, Alicante");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
