<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				Viernes Santo (Cofradía de la Sentencia de Jesús)
			</div>
			<div class="subtitulos_procesion">
				25 de Marzo - Viernes Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>10:30h</b> desde la Parroquia El Buen Pastor (Calle Doctor Ayela).
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			Traslado del paso de la Sentencia, a marcha ligera, desde la sede a la parroquia del Buen Pastor. Lectura de la Sentencia antes del inicio de la procesión.
			<br>
			Tramo final de la procesión por la calle Altamira, al son de marchas ligeras.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Cofradía de la Sentencia de Jesús
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/cofradia_sentencia_jesus.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			Hermanos de fila: Vesta y capirote, con el escudo de la cofradia, rojos. Fajín rojo con flecos dorados. Guantes blancos. Zapato y calcetín negros. </br>
			Costaleros: Vesta blanca con el escudo de la cofradia en el lado izquierdo del pecho. Fajín rojo con flecos dorados. Zapatilla, calcetín y guante blancos. </br>
			Damas de mantilla, según normas de la Junta Mayor.
			<img src="./resources/habitos/sentencia_jesus.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			La Sentencia de Jesús
		</div>
	
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida en la Parroquia El Buen Pastor (Calle Doctor Ayela) y llegada en la Plaza del Ayuntamiento.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_cofradia_sentencia_jesus" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_cofradia_sentencia_jesus").gmap3({
					map:{
						options:{
						center:[38.350480, -0.481413],
						zoom:15
						}
					},
					marker:{
						values:[
						{latLng:[38.355350, -0.478678], data:"Parroquia el Buen Pastor (Calle Doctor Ayela)"}]
					},
					polyline:{
					options:{
						strokeColor: "#6F65D5",
						strokeOpacity: 0.6,
						strokeWeight: 4,
						icons: [{icon: lineSymbol, offset: '3%'},
								{icon: lineSymbol, offset: '10%'},
								{icon: lineSymbol, offset: '20%'},
								{icon: lineSymbol, offset: '30%'},
								{icon: lineSymbol, offset: '40%'},
								{icon: lineSymbol, offset: '50%'},
								{icon: lineSymbol, offset: '60%'},
								{icon: lineSymbol, offset: '70%'},
								{icon: lineSymbol, offset: '80%'},
								{icon: lineSymbol, offset: '90%'},
								{icon: lineSymbol, offset: '98%'},
								],
						path:[
							[38.355350, -0.478678], // salida
							[38.355376, -0.478630], // doctor ayela
							[38.355647, -0.478935],
							[38.355861, -0.479192],
							[38.355624, -0.479682], // padre espla
							[38.355452, -0.480027], // plaza pio XII
							[38.355335, -0.480234],
							[38.355157, -0.480412], // alcalde suarez
							[38.354764, -0.480676],
							[38.354272, -0.481046],
							[38.353989, -0.481337],
							[38.353522, -0.481687],
							[38.353360, -0.481831], // adolfo blanch
							[38.353360, -0.481834],
							[38.353292, -0.481926],
							[38.353249, -0.482011],
							[38.353205, -0.482155],
							[38.353105, -0.482539],
							[38.353034, -0.482842],
							[38.352973, -0.483028],
							[38.352923, -0.483105], // sevilla
							[38.352845, -0.483178],
							[38.352721, -0.483241],
							[38.352580, -0.483330],
							[38.352437, -0.483404],
							[38.352291, -0.483480],
							[38.352199, -0.483595],
							[38.352113, -0.483702], // hospital viejo
							[38.351897, -0.483753], // plaza santa teresa
							[38.351674, -0.483821],
							[38.351758, -0.484836], // plaza españa
							[38.351765, -0.485080],
							[38.351716, -0.485197],
							[38.351613, -0.485292],
							[38.351226, -0.485267], // calderon de la barca
							[38.351166, -0.485280],
							[38.351117, -0.485347],
							[38.350927, -0.485392],
							[38.350637, -0.485443],
							[38.350207, -0.485548],
							[38.349720, -0.485679],
							[38.349246, -0.485825],
							[38.348939, -0.485923],
							[38.348574, -0.485976],
							[38.348239, -0.485796],
							[38.347949, -0.485629],
							[38.347802, -0.485514], // torregrosa
							[38.347541, -0.485295],
							[38.347193, -0.485011],
							[38.347089, -0.484934],
							[38.346820, -0.484740],
							[38.346765, -0.484697],
							[38.346774, -0.484612],
							[38.346797, -0.484564],
							[38.346862, -0.484499], // rambla
							[38.346422, -0.484370],
							[38.345964, -0.484151],
							[38.345622, -0.483955],
							[38.345212, -0.483736],
							[38.344812, -0.483484],
							[38.344423, -0.483249],
							[38.344237, -0.483127],
							[38.344361, -0.482755], // rafael altamira
							[38.344490, -0.482365],
							[38.344570, -0.482198],
							[38.344741, -0.481912],
							[38.344879, -0.481668],
							[38.345015, -0.481400] // ayuntamiento
						]
						}
					}
				});
			
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Parroquia El Buen Pastor
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Doctor Ayela, Alicante");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Doctor Ayela
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Doctor Ayela, Alicante");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle del Padre Esplá
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle del Padre Esplá, Alicante");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Plaza Pío XII
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Plaza Pío XII, Alicante");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle Alcalde Suárez LLanos
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Alcalde Suárez LLanos, Alicante");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Adolfo Blanch
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Adolfo Blanch, Alicante");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Sevilla
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Sevilla, Alicante");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Plaza Hospital Viejo San Antón
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Plaza Hospital Viejo San Antón, Alicante");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Plaza Santa Teresa
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Plaza Santa Teresa, Alicante");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Plaza de España
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Plaza de España, Alicante");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Calderón de la Barca
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Calderón de la Barca, Alicante");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Calle Tomás López Torregrosa
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Tomás López Torregrosa, Alicante");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Carrera Oficial
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Rambla de Méndez Núñez, Alicante");
			});
		</script>
		
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Rafael Altamira
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Rafael Altamira, Alicante");
			});
		</script>
		
		<div id="ov_place_17" class="punto_a_ruta">
			Plaza del Ayuntamiento
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Plaça de Ajuntament, Alicante");
			});
		</script>
		
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
