<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<!--<img src="./resources/escudos/cristo_divino_amor_virgen_soledad_marinera.png" class="ov_image_circle" alt=" ">-->
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Cofradía Sacramental del Cristo del Divino Amor y Virgen de la Soledad "La Marinera"</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			La cofradía celebra todos los años, en fechas próximas a la salida de los pasos, la exaltación de la saeta y la mantilla. 
			<br><br>
			En los años de la transición política la Semana Santa estaba muy denostada, apenas habían actividades de carácter cofrade y no se participaba como actualmente, de forma que había que revitalizarla con nuevas iniciativas, siendo una de ellas la de contar con cantaores de saetas de reconocido prestigio. También se fundó un hermanamiento con la Facultad de Derecho, nombrando a los alumnos de la Facultad como costaleros de privilegio del paso del Cristo del Divino Amor. Asimismo a los tunos de dicha Facultad, también se les nombró costaleros de privilegio del paso de la Virgen de la Soledad, La Marinera.
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Túnica:</b><br>
			<img src="./resources/habitos/cristo_divino_amor_virgen_soledad_marinera.jpg" style="display:block">
			<br><br>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Miércoles Santo (Cofradía Sacramental del Cristo del Divino Amor y Virgen de la Soledad "La Marinera")
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_cristo_divino_amor_virgen_soledad_marinera_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Santas mujeres al pie de la Cruz
		</div>
		
		<div class="informacion_pasos">
			En el año 2000 estrenaron el soporte de la Cruz de Guía, repujada a mano, criales de plata, mazas y bocinas, todo ello trabajado a mano.		
		</div>
		
		<div class="subtitulo_hermandad">
			Nuestra Señora de la Soledad "La Marinera"
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
