<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<!--<img src="./resources/escudos/santisimo_cristo_buena_muerte_nuestra_senora_angustias.png" class="ov_image_circle" alt=" ">-->
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad del Santísimo Cristo de la Buena Muerte y Nuestra Señora de las Angustias</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			<b>Socios:</b> 475. <b>Vestas:</b> 108. <b>Mantillas:</b> 24. <b>Costaleros:</b> 66.
			<br><br>
			En el año 1927, un grupo de jóvenes solicitaron que el cabildo de San Nicolás autorizara sacar procesionalmente la imagen del Santo Cristo de la Buena Muerte la noche del Jueves Santo en traslado procesional hacia Santa María en donde participaría en la Procesión General del Santo Entierro en la tarde del Viernes Santo. Eran las 22:00 h. del Jueves Santo de 1927 cuando el Cristo de la Buena Muerte salía, por primera vez, por la Puerta Negra de la Concatedral.
			<br><br>
			En este desfile procesional la Hermandad estrenó en el año 2000 nuevas Varas de Regir o Varas de Mando, iguales a las que eran portadas en su Fundación.
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Túnica:</b><br>
			<img src="./resources/habitos/santisimo_cristo_buena_muerte_nuestra_senora_angustias.jpg" style="display:block">
			<br>
			<b>Fundación:</b><br>1927.
			<br><br>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Jueves Santo. Procesión del Silencio. (Hermandad del Santísimo Cristo de la Buena Muerte y Nuestra Señora de las Angustias)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_santisimo_cristo_buena_muerte_nuestra_senora_angustias_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Santísimo Cristo de la Buena Muerte
		</div>
		
		<div class="subtitulo_hermandad">
			Nuestra Señora de las Angustias.
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
